@model List<MeloStats.Services.TrackInfo>

<h1>Top Tracks</h1>

@{
    int index = 1;
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in Model)
            {
                <tr>
                    <td>@index</td>
                    <td><img src="@track.Album.ImageUrl" alt="@track.Album.Name" style="max-width: 40px; max-height: 40px;"> &nbsp @track.Name </td>
                    <td>@track.Artist.Name</td>
                    <td>@track.Album.Name</td>
                </tr>
                index++;
            }
        </tbody>
    </table>
}
else
{
    <p>No top tracks found.</p>
}

