@model MeloStats.Models.Feature

<h1>Track feaures for @Model.Track.Name</h1>
<br />
<div> @Model.Instrumentalness</div>
<div> @Model.Danceability</div>
<div> @Model.Energy</div>
<div> @Model.Valence</div>
<div> @Model.Tempo</div>