<h1 style="text-align:center; margin-top: 5%;">Your Melo Statistics</h1>
<h3 style="text-align:center; margin-top: 5%;">Scroll down to see what the songs you listen to tell about the type of person you are</h3>
<style>
    #stats-container {
        text-align: center;
    }

    .slideshow-section {
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .mySlides {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

        .mySlides.fade-in {
            opacity: 1;
        }

    .text {
        color: #333;
        font-size: 2rem;
    }
</style>

<div id="stats-container">
    <div style="max-width: 550px; margin: 0 auto; margin-top:2%;">
            <canvas id="languagePieChart"></canvas>
      
    </div>
    <h6 style="margin-top:2%">
        Your most listened language is @ViewBag.MaxPair.Key. You listened to @ViewBag.MaxPair.Value songs in @ViewBag.MaxPair.Key, which represent a percent of @ViewBag.MaxPercent% from all of your songs.
    </h6>
    <div class="slideshow-section">
        <div class="mySlides fade">
            <div class="text">@($"Mean Energy: {ViewBag.Energy:N2}")</div>
        </div>
    </div>
    <div class="slideshow-section">
        <div class="mySlides fade">
            <div class="text">@($"Mean Danceability: {ViewBag.Danceability:N2}")</div>
        </div>
    </div>
    <div class="slideshow-section">
        <div class="mySlides fade">
            <div class="text">@($"Mean Popularity: {ViewBag.Popularity:N2}")</div>
        </div>
    </div>
    <div class="slideshow-section">
        <div class="mySlides fade">
            <div class="text">@($"Mean Tempo: {ViewBag.Tempo:N2}")</div>
        </div>
    </div>
    <div class="slideshow-section">
        <div class="mySlides fade">
            <div class="text">@($"Mean Valence: {ViewBag.Valence:N2}")</div>
        </div>
    </div>
    <div class="slideshow-section">
        <div class="mySlides fade">
            <div class="text">@($"Mean Instrumentalness: {ViewBag.Instrumentalness:N2}")</div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("scroll", function () {
        const slides = document.querySelectorAll(".mySlides");
        const windowHeight = window.innerHeight;

        slides.forEach((slide, index) => {
            const slidePosition = slide.parentElement.getBoundingClientRect().top;

            if (slidePosition < windowHeight - 100) {
                slide.classList.add("fade-in");
            } else {
                slide.classList.remove("fade-in");
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
        var languageData = @Html.Raw(Json.Serialize(ViewBag.Languages));
        var sortedData = Object.entries(languageData).sort((a, b) => b[1] - a[1]);

        var labels = sortedData.map(entry => entry[0]);
        var data = sortedData.map(entry => entry[1]);
        var ctx = document.getElementById('languagePieChart').getContext('2d');
        var pieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: labels.map(() => `rgba(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, 0.2)`),
                    borderColor: 'grey',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'left',
                    },
                    title: {
                        display: true,
                        text: 'Distribution of Song Languages'
                    }
                }
            }
        });
</script>



