<h1 class="text-center">Stats</h1>
<br />
<div>
    Mean Popularity : @ViewBag.MeanPopularity
    <br />
    Mean Danceability : @ViewBag.Danceability
    <br />
    Mean Energy : @ViewBag.Energy
    <br />
    Mean Tempo : @ViewBag.Tempo
    <br />
    Mean Valence : @ViewBag.Valence
    <br />
    Mean Instrumentalness : @ViewBag.Instrumentalness
    <br />
    @foreach(var lan in ViewBag.Languages)
    {
        <div>@lan &nbsp; </div>
    }

</div>
